<p-drawer [(visible)]="visible" position="right" [style]="{ width: '50%' }" (onHide)="close()">
    <ng-template pTemplate="header">
        <div class="pl-5 pt-3">
            <div>
                <h1>{{ title }}</h1>
                <p class="text-gray-500 text-sm">{{ subTitle }}</p>
            </div>
        </div>
    </ng-template>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <p-accordion [value]="['0']" [multiple]="true">
            <p-accordion-panel value="0">
                <p-accordion-header><p>Basic Information</p></p-accordion-header>
                <p-accordion-content>
                    <div>
                        <div class="grid grid-cols-2 gap-6">
                            <div class="flex flex-col gap-1">
                                <label for="tripName" class="font-semibold text-gray-700"
                                    >Trip Name</label
                                >
                                <input
                                    id="tripName"
                                    type="text"
                                    pInputText
                                    placeholder="e.g., Summer in Paris"
                                    class="w-full p-3 border border-[#ad9c8e] rounded-xl focus:outline-none"
                                    formControlName="name"
                                />
                            </div>

                            <div class="flex flex-col gap-1">
                                <label for="destination" class="font-semibold text-gray-700"
                                    >Destination</label
                                >
                                <p-autocomplete
                                    id="destination"
                                    [suggestions]="destinations()"
                                    (completeMethod)="searchDestinations($event)"
                                    placeholder="e.g., Paris"
                                    class="w-50"
                                    formControlName="destination"
                                    [dropdown]="false"
                                    [forceSelection]="false"
                                    [showClear]="true"
                                >
                                    <ng-template let-item pTemplate="item">
                                        {{ item.city }}, {{ item.country }}
                                    </ng-template>
                                </p-autocomplete>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-6 mt-6">
                            <div class="flex flex-col gap-1">
                                <label for="startDate" class="font-semibold text-gray-700"
                                    >Start Date</label
                                >
                                <p-datepicker
                                    id="startDate"
                                    ngSkipHydration
                                    appendTo="body"
                                    placeholder="Select start date"
                                    class="w-full"
                                    showIcon
                                    iconDisplay="input"
                                    dateFormat="dd-MM-yy"
                                    formControlName="startAt"
                                />
                            </div>

                            <div class="flex flex-col gap-1">
                                <label for="endDate" class="font-semibold text-gray-700"
                                    >End Date</label
                                >
                                <p-datepicker
                                    id="endDate"
                                    ngSkipHydration
                                    appendTo="body"
                                    placeholder="Select end date"
                                    class="w-full"
                                    showIcon
                                    iconDisplay="input"
                                    dateFormat="dd-MM-yy"
                                    formControlName="endAt"
                                />
                            </div>
                        </div>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="1">
                <p-accordion-header><p>Travel Preferences</p></p-accordion-header>
                <p-accordion-content>
                    <div>
                        <div class="grid grid-cols-2 gap-6">
                            <div class="flex flex-col gap-1">
                                <label for="travelCompanions" class="font-semibold text-gray-700"
                                    >Who are you traveling with?</label
                                >
                                <p-multiselect
                                    id="travelCompanions"
                                    formControlName="companions"
                                    [options]="companions"
                                    optionLabel="name"
                                    optionValue="id"
                                    placeholder="Select travel companions"
                                    class="w-full border-2 border-gray-200 rounded-xl"
                                    [filter]="true"
                                    display="chip"
                                />
                            </div>

                            <div class="flex flex-col gap-1">
                                <label for="travelStyle" class="font-semibold text-gray-700"
                                    >Travel Style</label
                                >
                                <p-multiselect
                                    id="travelStyle"
                                    [options]="travelStyles"
                                    formControlName="travelStyles"
                                    optionLabel="name"
                                    optionValue="id"
                                    placeholder="Choose your style"
                                    class="w-full border-2 border-gray-200 rounded-xl"
                                    [filter]="true"
                                    display="chip"
                                />
                            </div>
                        </div>

                        <div class="flex flex-col gap-1 mt-6">
                            <label for="interests" class="font-semibold text-gray-700"
                                >Interests</label
                            >
                            <p-multiselect
                                id="interests"
                                formControlName="interests"
                                [options]="interests"
                                optionLabel="name"
                                optionValue="id"
                                placeholder="What interests you?"
                                class="w-full border-2 border-gray-200 rounded-xl"
                                [filter]="true"
                                display="chip"
                            />
                        </div>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="2">
                <p-accordion-header><p>Itinerary Planning</p></p-accordion-header>
                <p-accordion-content>
                    <p-table [value]="tripItinerariesArray.controls">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Day</th>
                                <th>Notes</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-day let-i="rowIndex">
                            <tr [formGroup]="day">
                                <td>
                                    <div class="flex flex-col items-center">
                                        <span>Day {{ day.get('dayNumber')?.value }}</span>
                                        <span class="text-gray-500 text-sm">
                                            {{
                                                getDateForDay(day.get('dayNumber')?.value)
                                                    | date: 'dd MMM yyyy'
                                            }}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <textarea
                                        rows="3"
                                        class="w-full"
                                        pTextarea
                                        formControlName="notes"
                                    ></textarea>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="3">
                <p-accordion-header><p>Budget Breakdown</p></p-accordion-header>
                <p-accordion-content>
                    <div>
                        <div class="flex flex-col gap-1">
                            <label for="totalBudget" class="font-semibold text-gray-700"
                                >Total Budget</label
                            >
                            <input
                                id="totalBudget"
                                type="number"
                                pInputText
                                placeholder="e.g., 5000"
                                class="w-full p-3 border-2 border-gray-200 rounded-xl"
                            />
                        </div>

                        <div class="grid grid-cols-3 gap-3 mt-6">
                            <div
                                class="bg-[#e0a979] p-3 rounded-lg text-center text-white shadow hover:bg-[#8a5936] transition cursor-pointer"
                            >
                                ✈️ Transportation
                            </div>
                            <div
                                class="bg-[#e0a979] p-3 rounded-lg text-center text-white shadow hover:bg-[#8a5936] transition cursor-pointer"
                            >
                                🏨 Accommodation
                            </div>
                            <div
                                class="bg-[#e0a979] p-3 rounded-lg text-center text-white shadow hover:bg-[#8a5936] transition cursor-pointer"
                            >
                                🍽️ Food & Dining
                            </div>
                            <div
                                class="bg-[#e0a979] p-3 rounded-lg text-center text-white shadow hover:bg-[#8a5936] transition cursor-pointer"
                            >
                                🎭 Activities
                            </div>
                            <div
                                class="bg-[#e0a979] p-3 rounded-lg text-center text-white shadow hover:bg-[#8a5936] transition cursor-pointer"
                            >
                                🛍️ Shopping
                            </div>
                            <div
                                class="bg-[#e0a979] p-3 rounded-lg text-center text-white shadow hover:bg-[#8a5936] transition cursor-pointer"
                            >
                                💵 Miscellaneous
                            </div>
                        </div>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>

        <div class="flex justify-end gap-3 mt-8">
            <p-button
                [label]="submitLabel"
                icon="pi pi-check"
                rounded="true"
                class="text-white transition px-6 py-3 font-semibold"
                [disabled]="!form.get('name')?.value || !form.get('destination')?.value"
                (onClick)="onSubmit()"
            />
        </div>
    </form>
</p-drawer>
