<div class="min-h-full flex items-center justify-center p-6">
  <div class="bg-white p-5 rounded-xl shadow-2xl w-full max-w-4xl">
    <div class="flex justify-end mb-4">
        <p-button rounded label="Create Trip" icon="pi pi-plus" (onClick)="openDraw()" />
    </div>

    <p-table [value]="trips.value()?.items || []">
        <ng-template pTemplate="header">
            <tr>
                <th>Trip Name</th>
                <th>City</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-trip>
            <tr (click)="openDraw(trip)">
                <td>{{ trip.name }}</td>
                <td>{{ trip.city }}</td>
                <td>{{ trip.startAt | date: 'dd-MM-yyyy' }}</td>
                <td>{{ trip.endAt | date: 'dd-MM-yyyy' }}</td>
                <td>
                    <i
                        class="pi pi-trash cursor-pointer"
                        (click)="showDeleteDialog(trip.id); $event.stopPropagation()"
                    ></i>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="(page() - 1) * pageSize"
        [rows]="pageSize"
        [totalRecords]="totalRecords()"
        [showCurrentPageReport]="true"
        [showPageLinks]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
    ></p-paginator>

    <app-trip-drawer
        [(visible)]="isDrawOpen"
        [selectedTrip]="selectedTrip()"
        (submit)="onTripSubmit($event)"
    ></app-trip-drawer>
  </div>
</div>