<div>
    <nav class="p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <a routerLink="/home" class="text-2xl font-bold">TravelBuddy</a>

            <div class="space-x-4">
                <a routerLink="/home" class="text-xl font-bold">🏠 Home</a>
                <a routerLink="/trips/new" class="text-xl font-bold">📝 Plan</a>
                <a routerLink="/trips" class="text-xl font-bold">👀 View</a>
                <a routerLink="/manage" class="text-xl font-bold">🧑‍💻 Manage</a>
            </div>
        </div>
    </nav>
</div>