<div class="flex z-50 h-screen">
    <nav class="w-55 bg-amber-400/20 text-white flex flex-col px-5 py-8">
        <a
            routerLink="/home"
            class="hover:scale-110 transition-transform text-3xl font-extrabold tracking-tight mb-16 text-center"
        >
            🧳 TravelBuddy
        </a>

        <div class="flex flex-col gap-10 text-center">
            <a
                routerLink="/home"
                class="flex flex-col items-center gap-2 hover:opacity-80 hover:scale-110 transition-transform"
            >
                <span class="text-4xl">🏠</span>
                <span class="text-2xl font-semibold">Home</span>
            </a>

            <a
                routerLink="/manage"
                class="flex flex-col items-center gap-2 hover:opacity-80 hover:scale-110 transition-transform"
            >
                <span class="text-4xl">🧑‍💻</span>
                <span class="text-2xl font-semibold">Manage</span>
            </a>
        </div>

        <div
            class="hover:scale-110 transition-transform mt-auto bg-orange-600/60 rounded-3xl items-center flex gap-5 h-10 cursor-pointer justify-center shadow-lg hover:bg-orange-700/80"
            (click)="showDialog()"
        >
            <i class="pi pi-info-circle pl-3"></i>
            <p>Need help?</p>
        </div>

        <p-dialog
            header="Welcome to TravelBuddy! "
            [modal]="true"
            [(visible)]="isInfoDialogVisible"
            [style]="{ width: '25rem' }"
        >
            <div class="p-2 space-y-4 text-gray-700">
                <p class="font-semibold text-2xl">Hi there, travel enthusiast! ✈️</p>
                <p>
                    This app is designed to make planning your trips way easier. No more headaches
                    juggling itineraries, companions, and travel styles.
                </p>
                <p>We’re just getting started—many more exciting features are coming soon!</p>
                <p>
                    In the meantime, if you have any feedback, feel free to contact me via
                    helenheajilee@gmail.com.
                </p>
                <p class="font-semibold">Hope you enjoy using TravelBuddy! 🧳</p>
            </div>

            <div class="flex justify-end pt-2 gap-2">
                <p-button
                    label="Close"
                    severity="secondary"
                    (click)="isInfoDialogVisible = false"
                    rounded="true"
                    class="text-white transition font-semibold"
                />
            </div>
        </p-dialog>
    </nav>
</div>
