@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

h1 {
    color: #ad9c8e;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

h2 {
    color: #d9bbb0;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

body {
    font-family: 'Josefin Sans', cursive;
    background: linear-gradient(45deg, #f7e6ca, #e8d59e, #d9bbb0);
    overflow: hidden;
}

/* Button styles */
.p-button {
    background-color: #ad9c8e !important;
    border-color: #ad9c8e !important;
}

.p-button:hover {
    background-color: #9a8a7e !important;
    border-color: #9a8a7e !important;
}

.p-inputtext {
    border-color: #ad9c8e !important;
}

.p-select{
    border-color: #ad9c8e !important;
}

.p-dialog-close-button {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: rgba(255, 255, 255, 0) !important;
}

.p-dialog-close-button:hover{
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: rgba(255, 255, 255, 0) !important;
}