<div class="min-h-full flex items-center justify-center p-6 gap-3">
    <div class="flex flex-col md:flex-row bg-white rounded-xl shadow-2xl max-w-4xl p-5">
        <div>
            <div class="flex flex-col pb-4">
                <label for="username">Username</label>
                <input pInputText id="username" type="text" />
            </div>
            <div class="flex flex-col pb-4">
                <label for="password">Password</label>
                <input pInputText id="password" type="password" />
            </div>
            <div class="flex flex-col">
                <p-button
                    label="Login"
                    icon="pi pi-user"
                    class="w-full max-w-[17.35rem]"
                    styleClass="w-full mx-auto"
                    (onClick)="login()"
                />
            </div>
        </div>
        <div class="w-full md:w-2/12">
            <p-divider layout="vertical" class="hidden! md:flex!"><b>OR</b></p-divider>
            <p-divider layout="horizontal" class="flex! md:hidden!"><b>OR</b></p-divider>
        </div>
        <div class="w-full md:w-5/12 flex items-center justify-center py-5">
            <p-button
                label="Sign Up"
                icon="pi pi-user-plus"
                severity="success"
                class="w-full max-w-[17.35rem]"
                styleClass="w-full mx-auto"
                (click)="showLoginDialog()"
            />

            <p-dialog
                header="Sign up to TravelBuddy!"
                [(visible)]="isLoginDialogVisible"
                [modal]="true"
            >
                <div class="flex flex-col pb-4">
                    <label for="fullName">Full Name</label>
                    <input pInputText id="fullName" type="text" />
                </div>
                <div class="flex flex-col pb-4">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="text" />
                </div>
                <div class="flex flex-col pb-4">
                    <label for="password">Password</label>
                    <input pInputText id="password" type="text" />
                </div>
                <div class="flex flex-col">
                    <p-button
                        label="Sign up"
                        icon="pi pi-user-plus"
                        class="w-ull max-w-[17.35rem]"
                        styleClass="w-full mx-auto"
                        [disabled]="true"
                        (onClick)="signUp()"
                    />
                    <p-button
                        label="Cancel"
                        icon="pi pi-times"
                        class="w-ull max-w-[17.35rem] pt-3"
                        styleClass="w-full mx-auto"
                        (onClick)="isLoginDialogVisible = false"
                    />
                </div>
            </p-dialog>
        </div>
    </div>
</div>
