<div class="min-h-full flex items-center justify-center p-6 gap-3">
    <div class="flex flex-col md:flex-row bg-white rounded-xl shadow-2xl max-w-4xl p-5">
        <div>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
                <div class="flex flex-col pb-4">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" />
                </div>
                <div class="flex flex-col pb-4">
                    <label for="password">Password</label>
                    <input pInputText id="password" type="password" formControlName="password" />
                </div>

                <div *ngIf="loginError" class="text-red-600 pb-2">{{ loginError }}</div>

                <div class="flex flex-col">
                    <p-button
                        label="Login"
                        icon="pi pi-user"
                        styleClass="w-full mx-auto p-button primary"
                        (onClick)="login()"
                    />
                </div>
            </form>
        </div>

        <div class="w-full md:w-2/12">
            <p-divider layout="vertical" class="hidden! md:flex!"><b>OR</b></p-divider>
            <p-divider layout="horizontal" class="flex! md:hidden!"><b>OR</b></p-divider>
        </div>

        <div class="w-full md:w-5/12 flex items-center justify-center py-5">
            <p-button
                label="Sign Up"
                icon="pi pi-user-plus"
                severity="success"
                styleClass="w-full mx-auto p-button primary"
                (click)="showSignUpDialog()"
            />

            <p-dialog
                header="Sign up to TravelBuddy!"
                [(visible)]="isSignUpDialogVisible"
                [modal]="true"
            >
                <form [formGroup]="signUpForm" class="space-y-4">
                    <div class="flex flex-col pb-4">
                        <label for="fullName">Full Name</label>
                        <input pInputText id="fullName" type="text" formControlName="fullName" />
                    </div>
                    <div class="flex flex-col pb-4">
                        <label for="signUpEmail">Email</label>
                        <input pInputText id="signUpEmail" type="email" formControlName="email" />
                    </div>
                    <div class="flex flex-col pb-4">
                        <label for="signUpPassword">Password</label>
                        <input
                            pInputText
                            id="signUpPassword"
                            type="password"
                            formControlName="password"
                        />
                    </div>

                    <div *ngIf="signUpError" class="text-red-600 pb-2">{{ signUpError }}</div>

                    <div class="flex flex-col">
                        <p-button
                            label="Sign up"
                            icon="pi pi-user-plus"
                            styleClass="p-button primary w-full mx-auto"
                            [disabled]="signUpForm.invalid"
                            (onClick)="signUp()"
                        />
                        <p-button
                            label="Cancel"
                            icon="pi pi-times"
                            class="pt-3"
                            styleClass="p-button primary w-full mx-auto"
                            (onClick)="isSignUpDialogVisible = false"
                        />
                    </div>
                </form>
            </p-dialog>
        </div>
    </div>
</div>
