<div class="min-h-full flex items-center justify-center p-6">
    <div class="bg-white p-8 rounded-2xl shadow-2xl w-full max-w-5xl">
        <h1>Manage your preferences</h1>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 pt-3">
            <div class="rounded-2xl border-2 border-[#c5a257ab] p-4">
                <h2 class="text-xl font-semibold mb-4">
                    <i class="pi pi-users"></i> Companions <i class="pi pi-users"></i>
                </h2>

                <ul class="space-y-2">
                    @if (companions.error()) {
                        <p class="text-red-500">Failed to load companions</p>
                    } @else if (companions.isLoading()) {
                        <p>Loading...</p>
                    } @else if (companions.hasValue()) {
                        @if (companions.value().items.length === 0) {
                            <p>No companions added yet.</p>
                        } @else {
                            @for (companion of companions.value().items; track companion.id) {
                                <li class="flex justify-between items-center">
                                    <span>{{ companion.name }}</span>
                                    <button
                                        (click)="deleteCompanion(companion.id!)"
                                        class="pi pi-trash cursor-pointer pr-2 text-red-400"
                                    ></button>
                                </li>
                            }
                        }
                    }
                </ul>

                <div class="flex justify-between gap-3 pt-4 items-center">
                    <input
                        type="text"
                        pInputText
                        placeholder="Add new companion"
                        [(ngModel)]="newCompanionName"
                        class="w-full"
                    />
                    <p-button
                        icon="pi pi-check"
                        [rounded]="true"
                        size="small"
                        (onClick)="createCompanion(newCompanionName)"
                    />
                </div>

                <div class="flex gap-3 items-center justify-center pt-3">
                    <button
                        type="button"
                        (click)="prevCompanions()"
                        [disabled]="isCompanionsFirstPage()"
                        class="icon-button"
                    >
                        <i class="pi pi-chevron-left"></i>
                    </button>

                    <button
                        type="button"
                        (click)="nextCompanions()"
                        [disabled]="isCompanionsLastPage()"
                        class="icon-button"
                    >
                        <i class="pi pi-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="rounded-2xl border-2 border-[#c5a257ab] p-4">
                <h2 class="text-xl font-semibold mb-4">
                    <i class="pi pi-heart"></i> Interests <i class="pi pi-heart"></i>
                </h2>

                <ul class="space-y-2">
                    @if (interests.error()) {
                        <p class="text-red-500">Failed to load interests</p>
                    } @else if (interests.isLoading()) {
                        <p>Loading...</p>
                    } @else if (interests.hasValue()) {
                        @if (interests.value().items.length === 0) {
                            <p>No interests added yet.</p>
                        } @else {
                            @for (interest of interests.value().items; track interest.id) {
                                <li class="flex justify-between items-center">
                                    <span>{{ interest.name }}</span>
                                    <button
                                        (click)="deleteInterest(interest.id!)"
                                        class="pi pi-trash cursor-pointer pr-2 text-red-400"
                                    ></button>
                                </li>
                            }
                        }
                    }
                </ul>

                <div class="flex justify-between gap-3 pt-4 items-center">
                    <input
                        type="text"
                        pInputText
                        placeholder="Add new interest"
                        [(ngModel)]="newInterestName"
                        class="w-full"
                    />
                    <p-button
                        icon="pi pi-check"
                        [rounded]="true"
                        size="small"
                        (onClick)="createInterest(newInterestName)"
                    />
                </div>

                <div class="flex gap-3 items-center justify-center pt-3">
                    <button
                        type="button"
                        (click)="prevInterests()"
                        [disabled]="isInterestsFirstPage()"
                        class="icon-button"
                    >
                        <i class="pi pi-chevron-left"></i>
                    </button>

                    <button
                        type="button"
                        (click)="nextInterests()"
                        [disabled]="isInterestsLastPage()"
                        class="icon-button"
                    >
                        <i class="pi pi-chevron-right"></i>
                    </button>
                </div>
            </div>

            <div class="rounded-2xl border-2 border-[#c5a257ab] p-4">
                <h2 class="text-xl font-semibold mb-4">
                    <i class="pi pi-briefcase"></i> Travel Styles <i class="pi pi-briefcase"></i>
                </h2>

                <ul class="space-y-2">
                    @if (travelStyles.error()) {
                        <p class="text-red-500">Failed to load travel styles</p>
                    } @else if (travelStyles.isLoading()) {
                        <p>Loading...</p>
                    } @else if (travelStyles.hasValue()) {
                        @if (travelStyles.value().items.length === 0) {
                            <p>No travel styles added yet.</p>
                        } @else {
                            @for (travelStyle of travelStyles.value().items; track travelStyle.id) {
                                <li class="flex justify-between items-center">
                                    <span>{{ travelStyle.name }}</span>
                                    <button
                                        (click)="deleteTravelStyle(travelStyle.id!)"
                                        class="pi pi-trash cursor-pointer pr-2 text-red-400"
                                    ></button>
                                </li>
                            }
                        }
                    }
                </ul>

                <div class="flex justify-between gap-3 pt-4 items-center">
                    <input
                        type="text"
                        pInputText
                        placeholder="Add new travel style"
                        [(ngModel)]="newTravelStyleName"
                        class="w-full"
                    />
                    <p-button
                        icon="pi pi-check"
                        [rounded]="true"
                        size="small"
                        (onClick)="createTravelStyle(newTravelStyleName)"
                    />
                </div>

                <div class="flex gap-3 items-center justify-center pt-3">
                    <button
                        type="button"
                        (click)="prevTravelStyles()"
                        [disabled]="isTravelStylesFirstPage()"
                        class="icon-button"
                    >
                        <i class="pi pi-chevron-left"></i>
                    </button>

                    <button
                        type="button"
                        (click)="nextTravelStyles()"
                        [disabled]="isTravelStylesLastPage()"
                        class="icon-button"
                    >
                        <i class="pi pi-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
