<div class="h-full flex items-center justify-center">
    <div class="bg-white p-5 rounded-xl shadow-lg text-center max-w-md w-full">
        <h1>Manage your preferences</h1>

        <div class="flex flex-row">
            <p-table [value]="companions.value()?.items || []">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">Companion</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-companion>
                    <tr>
                        <td>{{ companion.name }}</td>
                    </tr>
                </ng-template>
            </p-table>

            <p-table [value]="interests.value()?.items || []">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">Interest</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-interest>
                    <tr>
                        <td>{{ interest.name }}</td>
                    </tr>
                </ng-template>
            </p-table>

            <p-table [value]="travelStyles.value()?.items || []">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">Travel Style</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-travelStyle>
                    <tr>
                        <td>{{ travelStyle.name }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
